@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

a {text-decoration: none; color: black;}

body {background: #F1F1F1; margin: 0 auto;}

.header {
    display: flex;
    background-color: #006400;
    justify-content: space-between;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#121723;
    width: 100%
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1440px;
    padding: 24px 0;
    margin: 0 150px;
    font-family: "Anonymous Pro", sans-serif;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1740px;
    padding: 24px 0;
    margin: 0 50px;
    font-family: "Anonymous Pro", sans-serif;
}

.nav-links { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.nav-links a {
    color: white;
    display: flex;
    text-decoration: none;
}

li {display: inline-block;
    list-style: none;
    border-style: solid;
    border-color:  white;
    padding: 5px;
    gap: 30px;
}

.footer_li {display: inline-block;
    list-style: none;
    padding: 5px;
    gap: 24px;
}

ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 30px;
}

.links {
    display: inline;
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.links a {
    color: white;
    display:flex;
    text-decoration: none;
}

.footer_p {
    display: flex;
    color: #A1A6B4;
    text-align: center;
    justify-content: center;
    margin: 0 150px;
    border-top: 1px solid white;
    padding: 24px 0;
}

.subtitle {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: white;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 48px;
}

.page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:  1044px;
    margin: 32px 0px;
    padding: 48px;
    border-radius: 50px;
    gap: 32px;
    background: white;
}

.big_title {
    font-family: 'Anonymous Pro';
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.big_text {
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justify;
    width: 100%;
}

.page_img {
    max-width: 800px;
    width: 100%;
    border-radius: 50px, 50px, 0px, 0px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

@media (max-width: 768px) {
.header_container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center; 
    	margin: 0 16px;
	padding: 24px 0 0 0;
	}
.footer_container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 768px;
    	margin: 0 16px;
	padding: 24px 0 0 0;
	}
.footer_p {padding: 5px; margin: 0 16px; font-size: 16px;}
.subtitle {font-size: 32px;}
.nav-links a {font-size: 16px;}
.page_img {
	width: 100%;
   	max-width: 768px;
	border-radius: 12px, 12px, 0px, 0px;
	}
.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 343px;
    border-radius: 12px;
    margin: 32px 16px;
    padding: 24px;
	}
	
.big_text {font-size: 16px;}
.images {flex-direction: column; max-width: 343px; padding: 24px;}
}
